<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="container">
  {{#each post_list}}
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          {{!-- <img src="..." class="img-fluid rounded-start" alt="..." /> --}}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.body}}</p>
            {{#if ../loggedIn}}
              <p class="card-text"><small
                  class="text-muted"
                >{{date}}</small></p>
              <p class="card-text"><small
                  class="text-muted"
                >{{author.username}}</small></p>
            {{else}}
              <p class="card-text"><small class="text-muted">unknown</small></p>
              <p class="card-text"><small class="text-muted">unknown</small></p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>