<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="container-fluid" >
  {{#each post_list}}
    <div class="card mb-3 mx-auto" style="max-width: 720px;">
      <div class="row g-0">
        <div class="col-md-4">
          {{!-- <img src="..." class="img-fluid rounded-start" alt="..." /> --}}
        </div>
        <div class="col-md-8">
          <div class="card-body ">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text p-2 round-corner">{{this.body}}</p>
            {{#if ../membership_status}}
              <div class="corner-container m-2">
              <div class="p-2 round-corner custom-card-text"><small
                  class="text-muted"
                >{{formatted_date}}</small></div>
              <div class="p-2 round-corner custom-card-text"><small
                  class="text-muted"
                >{{author.username}}</small></div>
              </div>
            {{else}}
            <div>
              <p class="card-text"><small class="text-muted">unknown</small></p>
              <p class="card-text"><small class="text-muted">unknown</small></p>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>