<div class="container">
  <h1>Register:</h1>
  <div class="input-label" Login>
    <form method="POST" action="">
      <div class="form-floating mb-3">
        <input
          class="form-control"
          id="username"
          name="username"
          placeholder="name@example.com"
          {{#if username}}
            value={{username}}
          {{else}}
            value=""
          {{/if}}
        />
        <label for="email"> Username</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="name@example.com"
          {{#if email}}
            value={{email}}
          {{else}}
            value=""
          {{/if}}
        />
        <label for="email">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
          value=""
        />
        <label for="password">Password</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm Password"
          value=""
        />
        <label for="password2">Confirm Password</label>
      </div>
      <input class="btn btn-primary" type="submit" value="Sign Up" />
    </form>
  </div>
  <div>
    <ul>
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>